<mat-card *ngIf="movieDetails$ | async as movie">
  <mat-card-title-group>
    <!-- title -->
    <ngx-skeleton-loader
      *ngIf="!contentLoaded"
      animation="pulse"
      [theme]="{
        width: '100%',
        height: '2.5rem',
        backgroundColor: '#615d5d'
      }"
    >
    </ngx-skeleton-loader>
    <div *ngIf="contentLoaded" class="header-title-wrapper">
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <button mat-fab color="primary" routerLink="/home">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <!-- subtitles -->
    <ngx-skeleton-loader
      *ngIf="!contentLoaded"
      animation="pulse"
      count="3"
      [theme]="{
        width: '5%',
        height: '1.5rem',
        margin: '0 0.5rem 0 0',
        backgroundColor: '#615d5d'
      }"
    >
    </ngx-skeleton-loader>
    <div class="header-subtitle">
      <!-- TODO: lead to a page with movies from the same year -->
      <a *ngIf="contentLoaded" href="" (click)="$event.preventDefault()">
        {{ movie.Year }}
      </a>
      <!-- TODO: lead to a page with additional information about the rating system -->
      <a *ngIf="contentLoaded" href="" (click)="$event.preventDefault()">
        {{ movie.Rated }}
      </a>
      <span *ngIf="contentLoaded">{{ movie.Runtime }}</span>
    </div>
  </mat-card-title-group>
  <mat-card-content>
    <!-- poster -->
    <div class="content-column">
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '280px',
          height: '420px',
          margin: '0 5rem 1rem 0',
          backgroundColor: '#615d5d'
        }"
      >
      </ngx-skeleton-loader>
      <img *ngIf="contentLoaded" [src]="movie.Poster" [alt]="movie.Title" />

      <!-- genre badges -->
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        count="3"
        [theme]="{
          width: '22.5%',
          height: '2rem',
          borderRadius: '1rem',
          marginRight: '0.5rem',
          backgroundColor: '#615d5d'
        }"
      >
      </ngx-skeleton-loader>
      <div *ngIf="contentLoaded" class="genre-badges">
        <button
          mat-stroked-button
          *ngFor="let genre of movie.Genre | splitString : ', '"
        >
          {{ genre }}
        </button>
      </div>
    </div>
    <div
      class="content-column"
      [ngStyle]="{ width: !contentLoaded ? '20%' : 'initial ' }"
    >
      <!-- plot -->
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        count="4"
        animation="pulse"
        [theme]="{
          width: '300%',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '200%',
          marginBottom: '1.5rem',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <p *ngIf="contentLoaded">{{ movie.Plot }}</p>

      <!-- crew list -->
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        count="2"
        animation="pulse"
        [theme]="{
          width: '100%',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '80%',
          marginBottom: '1.5rem',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ul *ngIf="contentLoaded" class="film-crew-list">
        <li class="film-crew-row">
          <span>Director</span>
          <ul>
            <li *ngFor="let director of movie.Director | splitString : ', '">
              <!-- TODO: lead to a page with movies from the same director -->
              <a href="" (click)="$event.preventDefault()">{{ director }}</a>
            </li>
          </ul>
        </li>
        <hr />
        <li class="film-crew-row">
          <span>Writers</span>
          <ul>
            <li *ngFor="let writer of movie.Writer | splitString : ', '">
              <!-- TODO: lead to a page with movies from the same writer -->
              <a href="" (click)="$event.preventDefault()">{{ writer }}</a>
            </li>
          </ul>
        </li>
        <hr />
        <li class="film-crew-row">
          <span>Stars</span>
          <ul>
            <li *ngFor="let actors of movie.Actors | splitString : ', '">
              <!-- TODO: lead to a page with movies with the same actor -->
              <a href="" (click)="$event.preventDefault()">{{ actors }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- ratings list -->
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '100%',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '80%',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="!contentLoaded"
        animation="pulse"
        [theme]="{
          width: '60%',
          backgroundColor: '#615d5d'
        }"
      ></ngx-skeleton-loader>
      <ul *ngIf="contentLoaded" class="ratings-list">
        <li class="ratings-row" *ngFor="let rating of movie.Ratings">
          {{ rating.Source }} - <span> {{ rating.Value }}</span>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
