<form [formGroup]="movieForm" (ngSubmit)="searchMovie(movieForm.value.query)">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Search for a movie</mat-label>
    <input #movieSearchInput matInput formControlName="query" />
    <button mat-icon-button matSuffix>
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="card-wrapper">
  <app-movie-card
    *ngFor="let movie of movies$ | async"
    [movie]="movie"
  ></app-movie-card>
</div>
