form {
  .mat-form-field {
    display: block;
    width: 35%;
    margin: 3rem auto 0 auto;
    font-size: 1rem;
    color: white;
  }

  button {
    display: block;
    width: 35%;
    height: 3rem;
    margin: 0 auto;
    font-size: 1.25rem;
  }
}
