form {
  .mat-form-field {
    display: block;
    width: 50%;
    margin: 3rem auto 0 auto;
    font-size: 1rem;
    color: white;
  }

  /* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
    removing input white background color for Chrome autocomplete
  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
    box-shadow: 0 0 0 30px #303030 inset !important;
    -webkit-text-fill-color: white;
  }
}

.card-wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, 680px);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  width: 62%;
  margin: 2rem auto;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1400px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
  .card-wrapper {
    margin: 2rem 8rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 6rem;
  }
}
